<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  </head>
  <body>
    <% data.forEach(set=>{ %>

  
    <div class="container text-center pt-5">
      <p>
        <% 
          let option = {month: 'long'};
          let dateString = set.date;
          let date = dateString.getDate();
          let month = new Intl.DateTimeFormat('en-US', option).format(dateString);
         
          let hours = dateString.getHours();         
          let minutes = dateString.getMinutes();

          hours =  12  || (hours % 12) ;
          let AmPm = hours >= 12 ? 'pm' : 'am';
          
        %>
        Game Date : <%= date %> <%= month %> <%= hours %> : <%= minutes %> <%= AmPm %>
      </p>

      <p> Name : <%= set.name %></h4>
      <p>
        Who is the best cricketer ? <br>
        <%= set.answer1 %>
      </p>
      <p>
       What are the colours in the national flag?<br>
        <%= set.answer2 %>
      </p>
    </div>
    <% }) %>
  </body>
</html>
